<div>
  <h2>Users</h2>

  <div class="row mb-5">
    <div class="form-group col-auto">
      <label>Department</label>
      <select class="form-control" (change)="onDepartmentChange(dep.value)" #dep>
        <option [value]="undefined">Choose</option>
        <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
      </select>
    </div>

    <div class="form-group col-auto">
      <label>Level</label>
      <select class="form-control" (change)="onLevelChange(level.value)" #level>
        <option [value]="undefined">Choose</option>
        <option *ngFor="let level of levels" [value]="level">{{ level }}</option>
      </select>
    </div>

    <div class="form-group col-auto align-self-end">
      <button class="btn btn-secondary" (click)="onReload()">Reload</button>
    </div>
  </div>

  <ng-container *ngIf="result$ | async as result">
    <h4>Users</h4>

    <div class="alert alert-danger mb-4" *ngIf="result.error">
      {{ result.error.message }}
    </div>

    <div *ngIf="result.loading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngIf="result.response" [class.loading]="result.loading">
      <div>
        <div *ngIf="result.response">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Department</th>
              <th>Level</th>
              <th>Joined</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of result.response.results; trackBy: trackById">
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.department }}</td>
              <td>{{ user.level }}</td>
              <td>{{ user.joinDate }}</td>
            </tr>
            </tbody>
          </table>
          <app-pagination [pagination]="result.response?.pagination" (goTo)="goToPage($event)"></app-pagination>
        </div>
      </div>
    </div>
  </ng-container>
</div>
